orangeMain = #e56b2e
orangeGrad = #d48740
whiteMain = #fff
silverMain = #c0c0c0
grayBackground = #f5f4f4
light_grey= #cfcfcf
whiteInnerBackground = #fff
backgroundReverse = #faf3ed
darkRed = #660f28
blackRed = #120000
gold = #b0a74a
goldNew = #fce086
blackBackground = #111111
