@font-face
    font-family IntroFont
    src url('~assets/fonts/Intro-Bold.woff') format('woff')
    font-weight bold
    font-style normal

@font-face
    font-family IntroRegular
    src url('~assets/fonts/Intro-Regular.woff') format('woff')
    font-weight normal
    font-style normal

@font-face
    font-family IntroRegularCaps
    src url('~assets/fonts/Intro-Regular-Caps.woff') format('woff')
    font-weight normal
    font-style normal

@font-face
    font-family IntroSemiBold
    src url('~assets/fonts/IntroSemiBold.woff') format('woff')
    font-weight Bold
    font-style normal

@font-face
    font-family Lazurski-Regular
    src url('~assets/fonts/Lazurski-Regular.woff') format('woff')
    font-weight normal
    font-style normal

@font-face
    font-family RistrettoPro
    src url('~assets/fonts/RistrettoPro.woff') format('woff')
    font-weight normal
    font-style normal


