h1
    font-family $RistrettoPro
    font-size 40px
    color whiteMain
    text-align center
    font-weight 400
    font-style normal
    font-stretch normal
    line-height 1.11
    letter-spacing 3px
    padding 0.9em 1.2em 2.6em 1.2em
    text-transform uppercase

h2
    font-family $Lazurski-Regular
    font-size 30px
    color whiteMain
    text-align center
    font-weight 400
    font-style normal
    font-stretch normal
    line-height 1.11


.text_default
    font-family $IntroRegular
    font-size 16px
    font-weight normal
    font-style normal
    font-stretch normal
    line-height normal
    letter-spacing 0.4px
    color #000

.text_default-white
    font-family $IntroRegular
    font-size 16px
    font-weight normal
    font-style normal
    font-stretch normal
    line-height normal
    letter-spacing 0.4px
    color whiteMain

a
    color whiteMain
    text-decoration none

    &:active, &:visited, &:hover
        text-decoration none
        color whiteMain

.common-container
    color whiteMain
    display flex
    flex-direction column
    justify-content center
    text-align center
    text-align -webkit-center
    padding 30px 60px


@media only screen and (max-width 767px)
    h1
        font-size 35px


@media only screen and (max-width 450px)
    h1
        font-size 30px

@media only screen and (max-width 350px)
    h1
        font-size 30px




