h1
    font-family $TenorSans-Regular
    font-size 52px
    color whiteMain
    text-align center
    font-weight 400
    line-height 140%
    text-align center

h2
    font-family $TenorSans-Regular
    font-size 40px
    color goldNew
    text-align center
    font-weight 400
    line-height 150%

h3.reverse
    font-family $Lazurski-Regular
    font-size 25px
    color darkRed
    text-align center
    font-weight 400
    font-style normal
    font-stretch normal
    line-height 1.11

h2.ristretto
    font-family $RistrettoPro
    font-size 38px
    color whiteMain
    text-align center
    font-weight 400
    font-style normal
    font-stretch normal
    line-height 1.11
    text-transform uppercase
    padding-bottom 30px

p
    font-family $TenorSans-Regular
    font-weight normal
    font-size 18px
    line-height 27px
    text-align center
    letter-spacing 0.03em
    color whiteMain

.text_sverdlovsk
    font-family $Sverdlovsk
    font-weight normal
    font-size 35px
    line-height 140%
    text-align center
    letter-spacing 0.04em
    color whiteMain

.text_default
    font-family $IntroRegular
    font-size 16px
    font-weight normal
    font-style normal
    font-stretch normal
    line-height normal
    letter-spacing 0.4px
    color #000

.text_default-white
    font-family $IntroRegular
    font-size 16px
    font-weight normal
    font-style normal
    font-stretch normal
    line-height normal
    letter-spacing 0.4px
    color whiteMain

a
    color whiteMain
    text-decoration none

    &:active, &:visited, &:hover
        text-decoration none
        color whiteMain

a.reverse
    color darkRed
    text-decoration none

    &:active, &:visited, &:hover
        text-decoration none
        color darkRed

.common-container
    color whiteMain
    display flex
    flex-direction column
    justify-content center
    text-align center
    text-align -webkit-center
    padding 30px 60px

    @media only screen and (max-width 767px)
        padding 80px 20px 30px


.lds-dual-ring {
    display: inline-block;
    width: 25px;
    height: 25px;
    position relative
    top -50px
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 25px;
    height: 25px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid orangeMain;
    border-color: backgroundReverse transparent backgroundReverse transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width 767px)
    h1
        font-size 35px

    h2
        font-size 30px


@media only screen and (max-width 450px)
    h1
        font-size 28px
        line-height 39px
    h2
        font-size 22px
        line-height 29px
        letter-spacing 0.03em

    p
        font-size 14px
        line-height 21px
        letter-spacing 0.03em

    .text_sverdlovsk
        font-size 28px
        line-height 39px
        letter-spacing 0.04em


@media only screen and (max-width 350px)
    h1
        font-size 30px
    h2
        font-size 25px


.form_item__container
    margin-bottom 15px
    min-width: 300px
    .label
        margin-bottom 5px


.form_item__container.error
    color $light_red
    font-size 14px

